@import "../../../shared/colors"

.settings-form
  height: 800px
  width: 100%
  border: 2px solid $green
  backdrop-filter: blur(10px)
  border-radius: 1rem
  padding: 1rem

  .title
    text-align: center
    font-size: 3rem

  .save-button
    margin: 3rem auto
