@import "../../../shared/colors"
    
.form-wrapper
 display: flex 
 align-items: center
 justify-content: center
 flex-direction: column
 gap: 2rem
 width: 39%
 box-shadow: 0 0 0 0.2rem rgba($green, 0.3)
 backdrop-filter: blur(10px)
 border-radius: 1rem
 padding: 1rem

.form-button
 width: 100%
 display: flex
 justify-content: space-between

 button
  width: 10rem
  height: 12rem
  position: relative
  font-size: 1.6rem
  padding: 0.5rem

  img
    width: 9rem
    height: 11rem
    
.link
 &:hover
  color:#32ff7e
