@import "../../../shared/colors"

.header-wrapper
  height: 5rem
  background: $black-2

.header
  height: 100%
  max-width: 620px
  padding: 0 1rem
  margin: 0 auto
  display: flex
  align-items: center

  .title
    display: flex
    gap: 1rem
    align-items: center
    color: #FFFFFF
    font-weight: 600
    user-select: none

    & > img
      pointer-events: none
      height: 3rem
      width: 3rem

  .menu
    display: flex
    gap: 1rem
    margin-left: auto

    .header-button
      font-size: 1.6rem
      padding: 0.5rem

      & > img
        pointer-events: none
        user-select: none
        height: 2rem
        width: 2rem
