@import "../../../shared/colors"

.main
  display: flex
  flex-direction: column
  gap: 1rem
  padding: 1rem

  .link
    user-select: none
    display: flex
    align-items: center
    margin: 1rem auto 0
    background: $black-2
    color: #FFFFFF
    padding: 1rem 0 1rem 2rem
    border-radius: 0.5rem
    box-shadow: 0 0 0 0.2rem rgba($green, 0.5)
    transition: 0.2s

    &:hover
      box-shadow: 0 0 0 0.4rem $green

    &-picture
      height: 2rem
      margin: 0 1rem
