@import "../../../shared/colors"

.button
  user-select: none
  display: block
  background: transparent
  font-size: 2rem
  padding: 1rem 3rem
  border-radius: 0.5rem
  box-shadow: 0 0 0 0.2rem rgba($green, 0.5)

  transition: 0.2s

  &:hover
    box-shadow: 0 0 0 0.4rem $green
