@import "../../colors"

.upload-wrapper
  max-width: 40rem
  margin: 0 auto
  margin-top: 2rem

  .upload
    height: 13rem
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    margin-top: 1rem
    padding: 2rem
    border: 0.2rem dashed rgba($green, 0.3)
    border-radius: 0.5rem

  &.error
    border-color: $red

  &:hover
    border-color: $green

  &:active
    cursor: grabbing

  .text-upload
    font-size: 2rem

  .upload-loading
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 1.5rem

    img
      height: 5rem

  .file
    max-width: 100%
    display: inline-flex
    align-items: center
    padding: 0.5rem 1rem
    margin-top: 1.5rem
    gap: 0.8rem
    border: 2px solid $gray
    border-radius: 1rem

    &-name
      overflow: hidden
      text-overflow: ellipsis
      text-wrap: nowrap
      line-height: 2rem

  .close-button
    background: transparent
    height: 1.5rem

    .button-icon
      height: 1.5rem

      path
        color: $red

  .label
    font-size: 2rem
