@import "../../../../../shared/colors"
  
.wrapper
  display: flex
  align-items: center
  padding: 0.6rem
  border: 2px solid #32ff7e
  border-radius: 0.6rem
  background: $black-2
  cursor: pointer

  &:hover
    border: 2px solid #ff3838

.icon
  border-radius: 50%
  width: 3rem
  height: 3rem

.inner-wrapper
  display: flex
  align-items: start
  margin-left: 0.6rem
  flex-direction: column
  gap: 0.4rem
  max-width: 27rem
  overflow: hidden   

.name, .code
  max-width: 100% 
  white-space: nowrap         
  overflow: hidden             
  text-overflow: ellipsis      
  
.name
  font-weight: 600
  color: #f0f6fc

.code
  color: #9198a1


