@import "../../colors"

.circular
  width: 3rem
  height: 3rem
  display: flex
  justify-content: center
  align-items: center
  border-radius: 50%
  background: conic-gradient(#777777 0% 100%)
  transition: background 0.1s linear
  color: rgba($green, 0.3)

.circular-progress
  position: relative
  width: 2.5rem
  height: 2.5rem
  display: flex
  justify-content: center
  align-items: center
  border-radius: 50%
  background: $black-1

.progress-text
  position: absolute
  font-size: 1rem
  font-weight: bold
  color: #ffffff
