@import "../../colors"
  
.circular
  width: 2.7rem
  height: 2.7rem
  display: flex
  justify-content: center
  align-items: center
  margin-left: auto
  border-radius: 50%
  background: conic-gradient(lightgray 0% 100%) 
  transition: background 0.1s linear


.circular-progress
  position: relative
  width: 1.7rem
  height: 1.7rem
  display: flex
  justify-content: center
  align-items: center
  border-radius: 50%
  background: $black-1

  
.progress-text
  position: absolute
  font-size: 1rem
  font-weight: bold
  color: #ffff
